@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-webp .contact-image{
    background-image: url(../img/boxeadores.jpg);
}
.webp .contact-image{
    background-image: url(../img/boxeadores.webp);
}
.contact-image{
    background-position: center;
    background-size: cover;
    margin: 8rem 0;
    padding: 3.2rem;
    min-height: 50rem
}
.contact__info{
    max-width: 80rem;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    text-align: center;

    h2, p{
        color: v.$white;
    }
}

.interna,
.interna-details{
    .contact-image{
        margin-bottom: 30rem;
    }
}